/* Sass abstracts folder */
/* Breakpoint argument choices
- photo
- tab portrait
- tab landscap
- big desktop */
/* This palette uses a dark blue as the primary color, which gives a professional and modern look. The light blue is used as an accent color to add a touch of freshness and energy. 
White and gray are used as neutral colors to provide a clean and simple background. */
/* Sass Base folder */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* @include respond(phone){
        font-size: 30%;
    } */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.buttons {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; }
  .buttons__blue {
    background-color: #00B0FF;
    height: 5rem;
    border-radius: 1rem;
    border-color: #fff;
    border-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff; }
  .buttons__orange {
    border: 2rem solid #ff7730;
    border-style: none;
    border-color: #ff7730;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700; }

/* style for layouts elements*/
.header {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between; }
  .header__logo {
    width: 4.5rem;
    height: 4rem; }
  .header__navigation--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    list-style: none;
    font-size: 2rem; }
  .header__navigation--link:link, .header__navigation--link:visited {
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: #0D2E4B; }
  .header__line {
    margin-top: 0.6rem;
    color: #0D2E4B; }

.link {
  text-decoration: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.box {
  margin: 5rem; }

.action {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .action__image {
    width: 500px;
    height: 100%; }

.apprenez {
  font-size: 7rem;
  color: #00B0FF;
  font-weight: 700; }

.gratuit {
  font-size: 5rem;
  color: #0D2E4B; }

.new {
  font-size: 2.5rem;
  color: #0D2E4B; }

.formations {
  padding: 5rem;
  text-decoration: none; }
  .formations__header {
    padding: 4rem; }
  .formations__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    gap: 4rem; }
  .formations__text {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    margin: 1.3rem;
    gap: 2rem; }
  .formations__item--titre {
    font-size: 2.3rem;
    font-weight: 600;
    color: #0D2E4B; }
  .formations__item--description {
    font-size: 1.3rem;
    color: #0D2E4B; }
  .formations__item--stats {
    font-size: 1rem;
    font-weight: 700;
    color: #0D2E4B; }

.formations__item--image {
  width: 100%;
  height: 200px; }

.les {
  font-size: 6rem;
  color: #00B0FF;
  font-weight: 500; }

.format {
  font-size: 6rem;
  color: #0D2E4B;
  font-weight: 500; }

.disponibles {
  font-size: 3rem;
  color: #ff7730; }

.categorie__header {
  font-size: 5rem;
  color: #0D2E4B;
  margin-left: 7rem; }

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 6rem; }
  .categories__card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 1rem;
    border: 2px solid #333;
    border-radius: 1rem; }
    .categories__card--title {
      font-size: 3rem;
      text-align: center;
      margin: 2rem; }
    .categories__card--content {
      margin: 1rem;
      font-size: 1.5rem; }
    .categories__card--footer {
      text-align: center;
      margin-bottom: 1.7rem; }
    .categories__card--btn {
      background-color: #00B0FF;
      border-color: #fff;
      border-style: none;
      border-radius: 0.5rem;
      height: 4rem;
      width: 9rem; }

.footer {
  background-color: #0D2E4B;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%; }
  .footer__retrouvez {
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr); }
    .footer__retrouvez--header {
      font-size: 2.5rem;
      color: #fff; }
    .footer__retrouvez--content {
      font-size: 1rem;
      color: #fff; }
    .footer__retrouvez--medias {
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      color: #fff; }
    .footer__retrouvez--icon {
      width: 2.5rem;
      height: 2.5rem; }
  .footer__contactez {
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr); }
    .footer__contactez--logo {
      text-align: center;
      width: 3rem;
      height: 3rem; }
    .footer__contactez--header {
      color: #fff;
      font-size: 2.5rem;
      text-align: center; }
    .footer__contactez--content {
      color: #fff;
      font-size: 1rem;
      text-align: center; }
    .footer__contactez--medias {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      color: #fff; }
  .footer__logo {
    text-align: center; }

/* style for pages elements*/
.formation-page {
  padding: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; }
  .formation-page__title {
    grid-column: 1/3;
    color: #0D2E4B; }
    .formation-page__title--span {
      color: #00B0FF; }
    .formation-page__title--header {
      font-size: 4rem;
      font-weight: 700; }
    .formation-page__title--description {
      font-size: 1.5rem;
      color: #0D2E4B; }
  .formation-page__content {
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 5px solid #D9D9D9;
    background-color: #F0EEEE; }
    .formation-page__content--image {
      width: 50px;
      height: 50px;
      background-color: #00B0FF; }
    .formation-page__content--titre {
      font-size: 2.3rem;
      font-weight: 500; }
    .formation-page__content--description {
      font-size: 1rem; }
    .formation-page__content--footer {
      font-size: 1rem;
      font-weight: 700;
      margin-top: 2rem; }

.formation__introduction--directory {
  padding: 5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #0D2E4B; }

.formation__introduction--header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3rem; }

.header__image {
  width: 200px;
  height: 200px;
  float: right;
  margin-right: 5rem; }

.header__btn {
  height: 4rem;
  background-color: #00B0FF;
  border-style: none;
  width: 19rem;
  font-weight: 500; }

.header__text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 2rem;
  gap: 1.5rem; }
  .header__text--title {
    font-size: 3rem;
    color: #0D2E4B;
    font-weight: 700; }
  .header__text--description {
    font-size: 1.3rem;
    color: #0D2E4B; }

.formation__presentation {
  padding: 9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem; }

.chapitre__title {
  font-size: 3rem;
  color: #0D2E4B;
  font-weight: 500;
  margin-bottom: 2rem; }

.chapitre__board {
  width: 100%;
  height: 700px;
  background-color: #0D2E4B;
  border-radius: 7px; }

.chapitre__icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: -1rem; }

.chapitre__description {
  font-size: 1.5rem;
  color: #0D2E4B; }

.chapitre__time {
  font-size: 1.2rem;
  color: #0D2E4B; }

.chapitre__video {
  height: 320px;
  width: 100%;
  margin-top: 3rem; }

.chapitre__list {
  padding: 4rem; }

.chapitre__link {
  list-style: none;
  padding-top: 1rem; }
  .chapitre__link--anchor:link, .chapitre__link--anchor:visited {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; }

.video--link {
  border-style: none; }
