
.backend{

    &__add--formation{
        background-color: $color-secondary-light;
        height: 5rem;
        color: $color-primary;
        margin: 2rem;
        border-style: none;
        font-size: 1.2rem;
        width: 9rem;
        font-weight: 500;
        border-radius: .5rem;
    }

    &__add--linkk{
        text-decoration: none;
    }

    &__header{
        text-align: center;
        margin: 5rem;

        &--logo{
            font-size: 5rem;
            color: $color-primary;
            text-align: center;
        }
        &--text{
            color: $color-secondary-light;
            font-size: 2rem;
        }
        &--separator{
            width: 50%;
            text-align: center;
        }
        &--form{
            margin: 3rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 5rem;
            gap: 2rem;
        }
        &--input{
            height: 5rem;
            padding-left: 2rem;
            border-style: none;
            border: 3px solid $color-secondary-light;
            border-radius: 9px;
            //border-bottom: 3px solid $color-secondary-light;;
        }
        &--button{
            height: 5rem;
            border-radius: 9px;
            font-size: 2rem;
            border-style: none;
            color: #fff;
            background-color: $color-primary;
        }
    }
}

.liste{
   width: 100%;
    border: 1px solid $color-primary;
    margin-bottom: 5rem;
    &__row{
        //display: grid;
        //grid-template-columns: repeat(5, 1fr);

        &--header{
            font-size: 1.2rem;
            color: $color-primary;
            border: 1px solid $color-primary;
        }
        &--data{
            color: $color-primary;
            font-size: 1.2rem;
            border: 1px solid $color-primary;
            padding: .6rem;
            text-align: justify;
        }
    }
}

.double__col{
    grid-column: 1/3;
}