.formation__introduction{

    &--directory{
        padding: 5rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: $color-primary;
    }

    &--header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 3rem;

        @include respond(tab-port){
            grid-template-columns: repeat(1,1fr );
        }
    }
    
}

.header{
    &__image{
        width: 200px;
        height: 200px;
        float: right;
        margin-right: 5rem;
        display: block;
        @include respond(tab-port){
            display: none;
        }
        
    }
    &__btn{
        height: 4rem;
        background-color: $color-secondary-light;
        border-style: none;
        width: 19rem;
        font-weight: 500;
    }

    &__text{

        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-bottom: 2rem;
        gap: 1.5rem;

        &--title{
        font-size: 3rem;
        color: $color-primary;
        font-weight: 700;
        }

        &--description{
            font-size: 1.3rem;
            color: $color-primary;
        }
    }
}

.formation{

    &__presentation{
        padding: 9rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;

        @include respond(tab-port){
            grid-template-columns: repeat(1,1fr );
            padding: 3rem;
        }

        &--chapitre{
            //border: 2px solid $color-secondary-light;
        }
        &--view{
            
        }
    }
}

.chapitre{

    &__title{
        font-size: 3rem;
        color: $color-primary;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    &__board{
        width: 100%;
        height: 600px;
        background-color: $color-primary;
        border-radius: 7px;
        overflow-x: hidden;
        overflow-y: auto;

        @include respond(tab-port){
            height: 200px;
        }
    }

    &__icon{
        width: 3rem;
        height: 3rem;
        margin-bottom: -1rem;
    }

    &__description{
        font-size: 1.5rem;
        color: $color-primary;
    }

    &__time{
        font-size: 1.2rem;
        color: $color-primary;
    }

    &__video{
        //background-color: $color-primary;
        height: 320px;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
}

.chapitre__list{
    padding: 4rem;
}
.chapitre__link{
    
    list-style: none;
    padding-top: 1rem;


    &--anchor:link, &--anchor:visited{
        text-decoration: none;
         color: #fff;
         font-size: 1.5rem;
    }
}
.video--link{
    border-style: none;
    box-shadow: -6px 7px 21px -6px rgba(0,176,255,0.75);
-webkit-box-shadow: -6px 7px 21px -6px rgba(0,176,255,0.75);
-moz-box-shadow: -6px 7px 21px -6px rgba(0,176,255,0.75);
}

.empty__tutoriels{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;

    &--cto{
        background-color: red;
    }
    &--thanks{
        background-color: greenyellow;
    }
}

.formation-page__content--link:hover,
formation-page__content--link:active{
    color: $color-secondary-dark;
    transform: scale(1.06);
}